@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

@layer utilities {
  .font-kavoon {
    font-family: 'Kavoon', system-ui, -apple-system, 'system-ui', sans-serif;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}